* {
    background:     #212A3C;
    background-alt: #AB8D78;
    foreground:     #DCDDDF;
    selected:       #8697AF;
    border:         #8697AF;
    active:         #B8BABC;
    urgent:         #F4CAAC;
}
