* {
    background:     #17162B;
    background-alt: #A59CA4;
    foreground:     #DEDEE0;
    selected:       #8791C3;
    border:         #8791C3;
    active:         #FEB588;
    urgent:         #ECDFEA;
}
