* {
    background:     #212B3C;
    background-alt: #618995;
    foreground:     #DCDDDF;
    selected:       #798C97;
    border:         #798C97;
    active:         #7598AA;
    urgent:         #8BC4D5;
}
