* {
    background:     #254B63;
    background-alt: #A5A6AA;
    foreground:     #EBECEE;
    selected:       #9ABCD1;
    border:         #9ABCD1;
    active:         #ECD790;
    urgent:         #ECEDF3;
}
